@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li> @Html.ActionLink(@item.Name, "Index",new { id = item.GenreId })</li>
            
        }
    </ul>
</div>
